/* General Styles adapted for Smartphone */

body{ padding: 0; margin: 0; font-family: Arial; background: #222; color: #FFF; }
.clear{ clear: both; }
.select{ -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

#remote{ padding: 10px; }

div.grid3{ background: #222; position: relative; }
div.grid3 a.element{ width: 33.333333%; float: left; text-align: center; font-size: 45px; display: block; color: #FFF; text-decoration: none; cursor: pointer; position: relative; z-index: 100; -webkit-appearance:none; }
div.grid3 a.element span.songvolume{ display: block; height: 100%; position: relative; }
div.grid3 span.process{ width: 100%; background: #4a9cf1; display: block; position: absolute; left: 0; top: 0; height: 100%; z-index: 90; }
div.grid3 a.element span.songvolume span.processtext{ height: 100%; width: 100%; font-size: 24px; vertical-align: middle; line-height: 24px; }

div.grid3 a.element.prev, div.grid3 a.element.next, div.grid3 a.element.play_pause{ font-size: 50px; padding: 5px 0; font-weight: bold; margin: 5px 0; border-radius: 2px; }
div.grid3.volume{ margin: 10px 0 5px 0; }
div.grid3 a.element.songdec, div.grid3 a.element.songinc{ position: relative; z-index: 100; }

#songdec, #songinc{ width: 20%; font-size: 20px; cursor: initial; }
#sound-slider{ float: left; width: 100%; background: #4a9cf1; border: none; border-radius: 2px; height: 10px; width: 60%; margin-top: 5px; padding: 0 15px; }
#sound-slider div.noUi-background{ background: #333; box-shadow: none; border-radius: 2px; }
#sound-slider div.noUi-base{ border-radius: 2px; cursor: pointer; position: relative; }
#sound-slider div.noUi-base:after{ width: 15px; background: #333; height: 10px; display: block; content: ""; position: absolute; top: 0; right: 0; }
#sound-slider div.noUi-handle{ width: 30px; height: 30px; left: -15px; top: -10px; border-radius: 2px; background: #FFF; box-shadow: none; cursor: pointer; }
#sound-slider div.noUi-handle:before, #sound-slider div.noUi-handle:after{ width: 0; height: 0; }

a.element.active{ background: #4a9cf1; box-shadow: 0 0 4px #333; }

div.grid1{  }
div.grid1.gridtop div.element{ padding: 10px; font-size: 40px; white-space: nowrap; position:relative; overflow: hidden; background: #333; border-radius: 2px; }
div.grid1.gridtop div.element span.title{ display: block; font-size: 30px; overflow: hidden; text-overflow: ellipsis; width: 100%; }
div.grid1.gridtop div.element span.artist{ display: block; font-size: 15px; overflow: hidden; text-overflow: ellipsis; width: 100%; }
div.grid1.gridtop div.element:first-child{ margin-bottom: 5px; }

div.grid1.gridtop div.element.timeproc{ padding: 0; height: 5px; position: relative; }
#timeproc{ position:absolute; left: 0; top: 0; height: 5px; width: 0%; background: #4a9cf1; overflow: hidden; border-radius: 2px; }

div.grid1.gridbottom div.element{ padding: 10px; font-size: 3em; white-space: nowrap; position:relative; overflow: hidden; background: #333; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; }

div.tab span.element{ display: block; float: left; width: 50%; text-align: center; font-size: 36px; position: relative; cursor: pointer; height: 46px; }
div.tab span.element.active{ background: #222; border-bottom: 2px solid #4a9cf1; }
div.tab span.element span.line{ display: block; width: 23px; background: #FFF; height: 4px; margin: 5px auto; }
div.tab span.element span.line:first-child{ margin-top: 12px; }

div.tabcontent{ border-radius: 2px; }
div.tabcontent div.tabc{ display: none; font-size: 24px; min-height: 250px; position: relative; font-size: 20px; }
div.tabcontent div.tabc.active{ display: block; background: #222; padding: 10px; }
div.tabcontent div.tabc input{ width: 94%; font-size: 25px; outline: none; border: none; background: #FFF; color: #333; padding: 3%; }
div.tabcontent div.tabc h2{ font-size: 24px; border-bottom: 1px solid #FFF; margin-top: 0px; margin-bottom: 10px; }
#songsearch_button{ position: absolute; right: 15px; top: 6px; color: #333; font-weight: bold; font-size: 43px; cursor: pointer; }
div.tabcontent div.tabc table{ width: 100%; }

#search_result{ margin-top: 5px; }
#search_result span.element{ display: block; border-bottom: 1px solid #333; padding: 5px; cursor: pointer; }
#search_result span.element:last-child{ border: none; }
#search_result span.element span.title{ display: block; font-size: 20px; overflow: hidden; text-overflow: ellipsis; width: 100%; }
#search_result span.element span.artist{ display: block; font-size: 15px; overflow: hidden; text-overflow: ellipsis; width: 100%; }
#search_result span.element span.album{ font-size: 12px; display: none; }

/* TODO: style responsive */
